<template>
  <style>
    .Home {
      padding: 8px;
      position: relative;

      .item {
        border: solid 0.1px #acacac;
        border-radius: 5px;
        overflow: hidden;

        .header {
          background-color: #c0ffee;
        }

        .body {
          background-color: #decafe;
        }
      }
    }
  </style>

  <section class="Home">
    <div class="item">
      <div class="header">
        <div class="title">
          header
        </div>
        <div class="controll">
          X
        </div>
      </div>
      <div class="body">
        <div>
          body
        </div>
      </div>
    </div>
  </section>
</template>