<template>
  <style>
    .Sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: var(--sidebar-width);
      background-color: #decafe;
      transition: 0.2s ease;

      &.Sidebar-close {
        left: calc(var(--sidebar-width) * -1);
      }

      .header-padding {
        width: 100%;
        height: 10vh;
      }

    }
  </style>
  <aside class="Sidebar Sidebar-close">
    <div class="header-padding"></div>
    <nav>
      <ul>
      </ul>
    </nav>
  </aside>
</template>