html,
body {
  margin: 0;
  padding: 0;
}

#app {
  .appContent {
    .appHeader {
      width: 100%;
      height: 10vh;
      border-bottom: solid 0.1px black;
      background-color: #c0ffee;
      display: flex;
      align-items: center;
      padding-left: 50px;
      box-sizing: border-box;
      font-size: 24px;
      font-weight: bold;

      .appHeaderControl {
        flex: 4;
      }

      .appHeaderInformation {
        flex: 1;
      }
    }

    .appBody {
      width: 100%;
      height: 85vh;
      display: flex;

      .flowViewer {
        height: 86vh;
        width: 70vw;
        margin: 2vh 1vw 2vh 1vw;
        border: solid 0.1px #acacac;
        border-radius: 8px;
        overflow: hidden;


        .viewerHeader {
          background-color: #decafe;
          height: 6vh;

          h2 {
            margin: 0;
            padding: 10px;
            font-size: 18px;
          }
        }

        .viewerBody {
          height: 80vh;
          overflow: scroll;
          position: relative;

          .pathmap {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 0;
          }

          .wrapper {
            width: max-content;
            height: max-content;
            position: relative;

            .stepContainer {
              display: flex;
              justify-content: center;
              height: max-content;
              padding: 6vh 4vw;
              position: relative;
              z-index: 1;
            }

            .inputContainer {
              position: relative;
              min-height: 5vh;
              min-width: 5vw;
              z-index: 1;
              margin: 0 16px;
              background-color: #7bf6ff;
              border: solid 1px #000;
              border-radius: 8px;
              overflow: hidden;

              .inputContainerHeaeder {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 4px 8px;
                background-color: #5ed0e3;

                .inputContainerTitle {
                  font-weight: bold;
                }

                .inputContainerDeleteBtn {
                  background: #b6b6b6;
                  cursor: pointer;
                  font-weight: bold;
                  width: 16px;
                  height: 16px;
                  padding: 2px;
                  text-align: center;
                  border-radius: 50%;
                  border: solid 0.1px #ffffff;
                  line-height: 18px;

                  &:hover {
                    filter: invert(100%);
                  }
                }
              }

              .innerFieldset {
                border: none;
              }
            }
          }
        }
      }

      .flowEditor {
        height: 86vh;
        width: 27vw;
        margin: 2vh 1vw 2vh 0vw;
        border: solid 0.1px #acacac;
        border-radius: 8px;
        overflow: hidden;

        .flowEditorHeader {
          background-color: #decafe;
          height: 6vh;

          h2 {
            margin: 0;
            padding: 10px;
            font-size: 18px;
          }
        }

        .flowEditorBody {
          padding: 10px;
          height: 80vh;
          overflow-y: scroll;
        }
      }
    }
  }
}